.filter {
  &__words {
    border: 1px solid black;
    width: 100%;
    min-height: 200px;
    margin-top: 10px;
    padding: 10px;
    list-style: none;
    box-sizing: border-box;

    &__row {
      margin-bottom: 5px;
    }
  }
}
