@import "../colorPicker/colorPicker";
@import "../filter/filter";
@import "../panel/panel";

.highlighter {
  display: flex;

  &__text {
    flex: 1;
  }

  &__filter {
    flex: 1;
  }

  &__action {
    margin: 10px 10px 0 0;
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 8px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
  }
}

